/* ------------------------- Menu Panel ------------------------- */

.menu-panel {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #272727; 
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100%;
    border-radius: 10px;
}

/* Push the bottom container to the bottom */
.menu-panel-bottom {
    margin-top: auto; /* This pushes the container to the bottom */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* Optionally style the logo */
.temoto-logo {
    max-width: 90%;
    height: auto;
}

/* ------------------------- Menu Buttons ------------------------- */

.menu-panel button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #666;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.menu-panel button:hover {
    background-color: #555;
    transform: scale(1.02);
}

.info-button {
    background-color: transparent !important;
    padding: 5px !important;
    box-shadow: 0 0 0 transparent !important;
}

.info-button button:hover {
    background-color: #555 !important;
    transform: scale(1.02);
}
