/* navigation side bar*/
.nav {
    width: 90px; 
    height: 100vh; 
    display: flex;
    flex-direction: column; 
    background-color: #222;
}


.app {
    display: flex; 
    min-height: 100vh;
    flex: 1;
}

/* page content */
.page-content {
    flex: 1;
    padding: 20px; 
    overflow: auto;
}

